
:root {
  --close-circle-color: #f56058;
  --minimize-circle-color: #f9bc2e;
  --maximize-circle-color: #3dc840;
  --user-name-color: #c6c3c7;
}

/**** Header Nav - Windows option colors ***/
.close { background-color: var(--close-circle-color); }
.minimize { background-color: var(--minimize-circle-color); }
.maximize { background-color: var(--maximize-circle-color); }

/**** Header Nav - Parent Container ***/
.chat-header {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: space-between
}

/**** Header Nav - LEFT Part - [Windows option circle] ***/
.left {
    top: 30%;
    padding-left: 30px;
    position: relative;
}

.left span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 4px;
}

/**** Header Nav - Right Part  [User Profile Avatar] ***/
.user-avatar img {
    width:40px; 
    height:40px;
    display: inline-block;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    color: --var(--user-name-color);
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    padding-top: 7px;
}

.user-profile > div {
    margin: 12px 4px;
    display: inline-block;
}

.down-arrow-icon {
    width: 50px;
    height: 40px;
    font-size: 15px;
    color: #c6c3c7;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    background:  no-repeat url('./../../assets/icons/arow-down.png');
}

